{{#if background}}
    {{#if header}}
        <div class="background-fluid-image background-fluid-image-header" style="background-image: url('{{background}}')"></div>
    {{/if}}
    {{#if footer}}
        <div class="background-fluid-image background-fluid-image-footer" style="background-image: url('{{background}}')"></div>
    {{/if}}
{{/if}}
