<div
    class="background-fluid-image
        {{#if lg}}background-image-lg{{/if}}
        {{#if sm}}background-image-sm{{/if}}
        {{#if header}}background-fluid-image-header{{/if}}
        {{#if footer}}background-fluid-image-footer{{/if}}"
    style="background-image: url('{{background}}')"
></div>
