<!--<div id="disqus_thread"></div>-->
<!--<script type="text/javascript">-->
<!--    var disqus_config = function () {-->
<!--        this.page.url = `${ENV_VARIABLE.SITE_URL}${window.location.pathname}`;//"{{url absolute="true"}}";-->
<!--        this.page.identifier = "ghost-{{comment_id}}"-->
<!--    };-->
<!--    (function() {-->
<!--        var d = document, s = d.createElement('script');-->
<!--        s.src = 'https://https-deuxmax-fr.disqus.com/embed.js';-->
<!--        d.type = 'text/javascript';-->
<!--        d.async = true;-->
<!--        s.setAttribute('data-timestamp', +new Date());-->
<!--        (d.head || d.body).appendChild(s);-->
<!--    })();-->
<!--</script>-->
<!--<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>-->
<!--</noscript>-->
