<footer>
    <div class="container h-100 d-flex flex-column footer-container">
        <div class="d-flex flex-row top">
            <div class="links">
                {{#get "posts" filter="slug:footer-links"}}
                    {{#posts}}
                        {{content}}
                    {{/posts}}
                {{/get}}
            </div>
            <div class="ml-auto footer-newsletter">
                <h4>Newsletter</h4>
                {{> subscribe-form}}
            </div>
        </div>
        <div class="d-flex flex-row mt-auto bottom">
            <div class="social">
                {{#if @site.facebook}}
                    <a href="https://www.facebook.com/{{@site.facebook}}" target="_blank"><span class="fab fa-facebook"></span></a>
                {{/if}}
                {{#if @site.twitter}}
                    <a href="https://twitter.com/{{@site.twitter}}" target="_blank"><span class="fab fa-twitter"></span></a>
                {{/if}}
            </div>
            <div class="ml-auto copyright">
                Deux.Max &copy; <span id="copyright-year"></span>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    document.getElementById('copyright-year').innerHTML = (new Date()).getFullYear();
</script>
