{{#get "pages" filter="primary_tag:pub"}}
    {{#if pages}}
        <div class="{{../class}}">
            <div class="pub">
                {{#foreach pages}}
                    <div class="content">
                        {{content}}
                    </div>
                {{/foreach}}
            </div>
        </div>
    {{/if}}
{{/get}}
