<div class="subscribe-form">
    <form data-members-form="subscribe">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="youremail@example.com" data-members-email autocomplete="true" aria-label="" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">S'inscrire</button>
            </div>
        </div>
        <div class="message-success">
            <strong>Terminé !</strong> Vérifie tes email-s
        </div>
        <div class="message-error">
            Ton e-mail n'est pas valide
        </div>
    </form>
</div>
