{{!< default}}

{{> header}}

<div class="container-fluid">
    {{#post}}
        <div class="post top-icon theaters">
            <div class="background-fluid-image background-image-lg background-fluid-image-header" style="background-image: url('{{feature_image}}')"></div>
            <div class="container custom-round-block background-white-light container-on-background-image mb-5 pb-3">
                <div class="d-flex flex-row align-items-center justify-content-start post-titles">
                    <h1>{{title}}</h1>
                    {{> primary-author class="ml-auto"}}
                </div>
                <div class="d-flex flex-row post-excerpt">
                    <div class="resume">
                        {{> post-resume}}
                    </div>
                    <div class="ml-auto actions">
                    </div>
                </div>
                <hr class="post-split" />
                <div class="post-content">
                    {{content}}
                </div>
                <div class="post-footer">
                    {{> comment comment_id=comment_id}}
                </div>
            </div>
            <div class="background-fluid-image background-fluid-image-footer" style="background-image: url('{{feature_image}}')"></div>
        </div>
    {{/post}}
</div>
