{{!< error}}

{{#contentFor "custom"}}
    <div class="custom-404">
        <div class="d-flex flex-row align-items-center justify-content-start">
            <div class="icon">
                {{> 'icons/404'}}
                <div class="credits">
                    Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a>
                </div>
            </div>
            <div class="ml-3 text">
                <h2>Tu es perdu ?</h2>
                <p>
                    Retrouves ton chemin en retournant sur l'accueil<br />
                    Ou laisse-toi tenter par les histoires ci-dessous.
                </p>
                <p>
                    <a href="/" class="btn btn-primary btn-arrow arrow-right">Accueil</a>
                </p>
            </div>
        </div>
    </div>
{{/contentFor}}
