{{!< default}}

{{> header}}

{{#is "page"}}
{{#post}}
    {{^has tag="pub"}}
        <div class="container pt-3 pb-3">
            <h1>{{title}}</h1>
            {{content}}
        </div>
    {{else}}
        {{#contentFor "custom_meta_data"}}
            <meta name="robots" content="noindex, nofollow">
        {{/contentFor}}
        404
    {{/has}}
{{/post}}
{{/is}}
