.post {
  .post-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:0;
    height: 5px;

    .progress-bar-background {
      width: 100%;
      height: 100%;
      background-color: $primary-dark;

      .progress-bar-value {
        height: 100%;
        background-color: $primary;
      }
    }
  }

  .post-titles {
    padding: 1em;
    h1 {
      font-size: 2.5em;
      padding: 0;
      margin: 0;
    }

    & {
      @include media-breakpoint-down(sm) {
        flex-direction: column !important;
        justify-content: start !important;
        align-items: start !important;

        h1 {
          font-size: 2em;
        }

        .post-author {
          margin: 0!important;
        }
      }
    }
  }

  .post-excerpt {
    margin-top: 1em;

    .resume {
      width: 60%;
    }

    .actions {
      flex: 1;
      padding: 0 1em;
    }
  }

  .post-resume {
    .feature-image {
      height: 300px;
      width: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      flex: 1;

      & {
        @include media-breakpoint-down(sm) {
          display: none !important;
        }
      }
    }

    .text {
      flex: 2;
      margin-left: 1em;
      color: $gray;
      font-size: 1em;

      & {
        @include media-breakpoint-down(md) {
          display: none !important;
        }
      }
    }
  }

  .post-split {
    height: 1px;
    width: 80%;
    margin: 3rem auto;
    background-color: $gray-light;
    border: none;
  }

  .post-next {
    .next-resume {
      flex: 3;
      padding-right: 1em;
    }

    .next-link {
      border-left: 1px solid $black-light;
      padding-left: 1em;
      flex: 2;
    }
  }

  .post-content {
    font-size: 1em;
    text-align: justify;
    margin: 2em 0;
    padding: 0 0 1em 0;

    ul {
      list-style-type: '—';
    }

    hr {
      border: none;
      height: 1em;

      &:after {
        display: block;
        content: '* * *';
        text-align: center;
        font-weight: $fontWeightBold;
      }
    }

    .kg-card {
      width: 100%;
      padding: 1em 2em;
      text-align: center;

      &.kg-image-card {
        height: 400px;

        img {
          width: auto;
          height: 100%;
        }
      }

      &.kg-embed-card {
        width: 60%;
        margin: auto;

        .twitter-tweet {
          border-left: 2px solid $twitter;
          padding-left: 1em;
          font-style: italic;

          a {
            color: $twitter;
          }
        }
      }

      &.kg-bookmark-card {
        width: 60%;
        margin: auto;
        border: 1px solid $gray;
        border-radius: $borderRadius;
        background-color: $white;
        position: relative;
        text-align: left;
        padding-top: 2em;

        &:before {
          content: '\f02e';
          font-family: "Font Awesome 5 Free", serif;
          position: absolute;
          top: -15px;
          left: 1rem;
          color: $primary;
          font-size: 2em;
          font-weight: 900;
        }

        .kg-bookmark-container {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          .kg-bookmark-content {
            .kg-bookmark-title {
              font-size: 1.1em;
              color: $primary;

              &:hover {
                text-decoration: underline;
              }
            }

            .kg-bookmark-description {
              font-size: 0.8em;
              color: $gray;

              &:hover {
                color: $primary;
              }
            }

            .kg-bookmark-metadata {
              .kg-bookmark-author, .kg-bookmark-publisher, .kg-bookmark-icon{
                vertical-align: middle;
              }

              .kg-bookmark-icon {
                display: block;
                float: left;
                margin: 0 1em 0 0;
                height: 40px;
                width: auto;
              }

              .kg-bookmark-author {
                margin-top: 1em;
              }

              .kg-bookmark-author, .kg-bookmark-publisher {
                display: block;
                font-size: 0.7em;
                color: $gray;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

          }

          .kg-bookmark-thumbnail {
            text-align: right;

            img {
              height: 60px;
              width: auto;
            }
          }
        }
      }

      &.kg-gallery-card {
        .kg-gallery-container {
          width: 70%;
          margin: auto;
          display: flex;
          flex-direction: column;

          .kg-gallery-row {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-bottom: 1em;

            .kg-gallery-image {
              height: 200px;
              width: auto;

              img {
                height: 100%;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

.posts-list {
  .article {
    & {
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        position: relative;

        .article-image {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index:5;
        }

        .article-body {
          z-index: 6;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          font-size: 0.8em;

          .article-header {
            display: none !important;
          }

          .article-tags {
            display: none !important;
          }
        }
      }
    }
  }
}

.article-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 -0.5em 0 -0.5em;

  .article {
    position: relative;
    flex-grow: 1;
    margin-bottom: 1em;

    &:before {
      position: absolute;
      right: 0.5em;
      top: -1em;
      z-index: 4;
      font-size: 1.5em;
      padding: 10px;
      border-radius: 50%;
    }

    .article-image {
      flex-basis: 40%;
      background-size: cover;
      background-position: center;
      background-color: $black-light;
    }

    .article-body {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      padding: 1em;
      background-color: $white;

      .article-header {
        color: $gray;
        font-size: 0.8em;

        .primary-author {
          .primary-author-image {
            height: 50px;
          }
        }

        .article-infos {
          white-space: nowrap;

          img {
            height: 30px;
            width: auto;
            border-radius: 50%;
            border: 1px solid $gray;
          }

          p {
            margin: 0 0 0 1em;
            padding: 0;

            strong {
              text-transform: uppercase;
            }
          }
        }
      }

      .article-title {
        margin-top: 1em;
        h3 {
          a {
            font-size: 1.6em;
            font-weight: $fontWeightMedium;
            color: $primary;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      .article-excerpt {
        margin: 0 0 3em 0;
        font-size: 0.8em;
        p {
          color: $gray;
          text-align: justify;
        }
      }

      .article-tags {
        display: none !important;
        flex-wrap: wrap;

        .tag-item {
          border-radius: 5px;
          box-shadow: 1px 2px 2px $black-light;
          font-size: 0.8em;
          font-weight: $fontWeightLight;
          padding: 0.5em 1em;
          margin: 0.2em;
          white-space: nowrap;
        }
      }
    }

    .article-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1em;
      left: 0;
      width: 100%;
    }

    &.post {
      margin: 0 0.5em 1em 0.5em;
      border-width: 10px;
      border-style: solid;
    }

    &.tag-short-story {
      border-color: $short-story-color;
      flex-basis: 35%;
      flex-shrink: 2;

      &:before {
        @include icon-shorts-story();
        @include label-shorts-story();
      }

      .article-body {
        .article-title {
          h3,a {
            color: $short-story-color;
          }
        }
      }

      .article-footer {
        a {
          background-color: $short-story-color;
          border-color: $short-story-color;
        }
      }
    }

    &.tag-chronicles {
      border-color: $chronicles-color;
      flex-basis: 20%;
      flex-shrink: 5;
      flex-grow: 0;

      &:before {
        @include icon-chronicles();
        @include label-chronicles();
      }

      .article-image {
        position:absolute !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        @include opacity-image();
      }

      .article-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        z-index: 3;
        padding: 0;
        background-color: transparent;

        .article-header {
          position: absolute;
          bottom: 3rem;
          left: 0;
          right: 0;
          z-index: 4;
          order: 2;
          justify-content: center !important;
          .primary-author {
            margin: 0;
            text-align: center;
            .primary-author-image {
              display: none;
            }

            .primary-author-reading-time {display: none;}
          }
        }

        .article-title {
          position: absolute;
          bottom: 5rem;
          left: 0;
          right: 0;
          z-index: 4;
          order: 1;
          h3, a {
            color: $chronicles-color;
            font-weight: $fontWeightSemiBold;
            font-size: 1.2em;
            text-align: center;
          }
        }

        .article-tags {
          display: flex !important;
          position: absolute;
          top: 3rem;
          width: 100%;
          font-size: 0.8em;
          justify-content: center;
          align-items: center;

          .tag-item {
            @include label-chronicles();
          }
        }

        .article-excerpt {
          display: none !important;
        }
      }

      .article-footer {
        display: none;
      }

      &:hover {
        border-color: $primary;
        &:before {
          background-color: $primary;
        }

        .article-tags {
          .tag-item {
            background-color: $primary;
          }
        }

        .article-title {
          a {
            color: $primary;
          }
        }
      }
    }

    &.tag-novels {
      border-color: $novels-color;
      flex-basis: 60%;
      flex-shrink: 1;

      &:before {
        @include icon-novels();
        @include label-novels();
      }

      .article-body {
        .article-title {
          h3,a {
            color: $novels-color;
          }
        }
      }

      .article-footer {
        a {
          background-color: $novels-color;
          border-color: $novels-color;
        }
      }
    }

    &.tag-theaters {
      border-color: $theaters-color;
      flex-basis: 35%;
      flex-shrink: 1;

      &:before {
        @include icon-theaters();
        @include label-theaters();
      }

      .article-body {
        .article-title {
          h3,a {
            color: $theaters-color;
          }
        }
      }

      .article-footer {
        a {
          background-color: $theaters-color;
          border-color: $theaters-color;
        }
      }
    }

    &.tag-scenarios {
      border-color: $scenarios-color;
      flex-basis: 65%;
      flex-shrink: 1;

      &:before {
        @include icon-scenarios();
        @include label-scenarios();
      }

      .article-body {
        .article-title {
          h3,a {
            color: $scenarios-color;
          }
        }
      }

      .article-footer {
        a {
          background-color: $scenarios-color;
          border-color: $scenarios-color;
        }
      }
    }

    &.tag-articles {
      border-color: $articles-color;
      flex-basis: 20%;
      flex-shrink: 3;

      &:before {
        @include icon-articles();
        @include label-articles();
      }

      .article-body {
        .article-title {
          h3,a {
            color: $articles-color;
          }
        }
      }

      .article-footer {
        a {
          background-color: $articles-color;
          border-color: $articles-color;
        }
      }
    }
  }
}
