.pub {
  .content {
    border: 1px solid $primary;
    border-radius: $borderRadius;
    padding: 2em 1em 1em 1em;
    color: $primary;
    text-align: center;
    box-shadow: 0 2px 5px $black-light;
    position: relative;
    width: 100%;
    font-weight: $fontWeightRegular;

    &:after {
      @extend %fa-icon;
      @extend .fa;
      content: fa-content($fa-var-ad);
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 2em;
    }
  }
}
