.subscribe-form {
  .message-success, .message-error {
    display: none;
  }

  .error {
    .message-error {
      display: block;
    }
  }

  .success {
    .message-success {
      display: block;
    }
  }

  .loading {

  }
}
