/**
 * Colors
 */
$purple: #48455D;
$blue: #71C1E9;
$yellow: #F7CD54;
$brown: #A9927D;
$orange: #FA8334;
$red: #F26659;
$green: #79C4BD;
$white: #fff;
$gray: #738a94;
$black: #000000;
$twitter: #00acee;

$break-white: #EEEEEE;
$white-light: #eeeeee;
$gray-light: #D3D3D3;
$black-light: #191b1f;

$primary: #D81E5B;
$secondary: $green;

$articles-color: $brown;
$chronicles-color: $green;
$short-story-color: $purple;
$novels-color: $red;
$theaters-color: $orange;
$scenarios-color: $blue;

/**
 * Fonts
 */
$fontWeightThin: 100;
$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium:500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightBlack: 900;

/**
 * Border
 */
$borderRadius: 10px;

/**
 * Sizes
 */
$heightBackgroundFluidImage: 35rem;
$smallHeightBackgroundFluidImage: 25rem;

/**
 * Functions
 */
@function homeScreenMarginTop($base, $percent) {
  @return - ($base * $percent) / 100rem;
}

@mixin container-on-background-fluid-image($percent) {
  margin-top: homeScreenMarginTop($heightBackgroundFluidImage, $percent);
}

@mixin opacity-image() {
  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
  }
}
